.table_form {
  padding: 0 20px 20px 20px;
  .table_fun {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    // justify-content: center;
    .pagination {
      color: #778592;
      font-size: 12px;
    }
  }
}
.mybtn {
  background: #3e5265;
  color: #fff;
  margin: 0 4px 0 0;
  cursor: pointer;
  border-radius: 2px;
}
.padd_7_16 {
  padding: 6px 16px;
}
.height_36 {
  // height: 36px;
}

.mapping_drawer {
  .title {
    display: flex;
    align-items: center;
    .title_name {
      color: #324558;
      font-size: 16px;
      font-weight: bold;
    }
    span {
      font-size: 20px;
    }
  }
  .basic_info {
    // font-size: 12px;
    .basic_info_item {
      padding: 8px 0;
      display: flex;
      align-items: flex-start;
      .label {
        min-width: 100px;
        margin-right: 10px;
        text-align: right;
      }
      .info {
        flex: 1;
      }
    }
  }
}
