.overview_main {
  // margin-right: 380px;
  flex: 1;
  .overview_estimated {
    background: #fff;
    padding: 30px;
    margin: 0 20px 20px 20px;
    overflow: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(161, 171, 181, 0.48), 0 2px 4px 0 rgba(213, 222, 231, 0.64);
    -moz-box-shadow: 0 1px 2px 0 rgba(161, 171, 181, 0.48), 0 2px 4px 0 rgba(213, 222, 231, 0.64);
    box-shadow: 0 1px 2px 0 rgba(161, 171, 181, 0.48), 0 2px 4px 0 rgba(213, 222, 231, 0.64);
    -webkit-transition: all;
    -moz-transition: all;
    -o-transition: all;
    transition-duration: 0.2s !important;
    transition-timing-function: ease-in-out !important;
  }
}
.sub {
  margin-bottom: 12px;
}
.sub_title {
  font-weight: bold;
  margin-bottom: 4px;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  .sub_title_main {
    margin-right: 5px;
  }
}
.sub_accounts {
  color: #86919c;
  font-size: 12px;
  line-height: 20px;
}
.overview_ips_inner {
  position: relative;
  margin: 0 20px 20px 20px;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.overview_quotas {
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 20px 20px;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(161, 171, 181, 0.48), 0 2px 4px 0 rgba(213, 222, 231, 0.64);
  -moz-box-shadow: 0 1px 2px 0 rgba(161, 171, 181, 0.48), 0 2px 4px 0 rgba(213, 222, 231, 0.64);
  box-shadow: 0 1px 2px 0 rgba(161, 171, 181, 0.48), 0 2px 4px 0 rgba(213, 222, 231, 0.64);
  -webkit-transition: all;
  -moz-transition: all;
  -o-transition: all;
  transition-duration: 0.2s !important;
  transition-timing-function: ease-in-out !important;
  .quotas_title {
    font-size: 18px;
    border-bottom: 1px solid #e4ebf1;
    padding-bottom: 10px;
    margin-bottom: 20px;
    line-height: 48px;
    font-weight: bold;
  }
  .alert_info {
    font-size: 12px;
    font-weight: normal;

    margin: 12px 0;
    padding: 8px 12px;
    line-height: 1.6em;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    color: #0366d6;
    background: #eaf3fe;
    border-color: #0366d6;
    -webkit-box-shadow: 0 1px 2px 0 rgba(12, 53, 73, 0.04), 0 2px 4px 0 rgba(18, 57, 87, 0.08);
    -moz-box-shadow: 0 1px 2px 0 rgba(12, 53, 73, 0.04), 0 2px 4px 0 rgba(18, 57, 87, 0.08);
    box-shadow: 0 1px 2px 0 rgba(12, 53, 73, 0.04), 0 2px 4px 0 rgba(18, 57, 87, 0.08);
  }
}
.overview_right {
  width: 380px;
  // float: right;
}
