.form {
  display: flex;
  background: #e4ebf1;
  .wizard {
    flex: 1;
    .wizard_nav {
      background: #f5f7fa;
      padding: 15px 0 13px 0;
      border-bottom: 1px solid #e4ebf1;
    }
    .step_inner {
      background: #fff;
      height: 346px;
      padding: 30px;
      overflow: auto;
      .provider {
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 6px 0;
        color: #778592;
        vertical-align: middle;
        margin-right: 10px;
        .provider_filter {
          padding: 4px 8px;
          display: inline-block;
          margin-left: 5px;
          color: #324558;
          cursor: pointer;
        }
        .active {
          color: #0366d6;
          font-weight: 600;
          .os_cent {
            background-position: -13px -12px;
          }
          .os_debian {
            background-position: -13px -60px;
          }
          .os_ubuntu {
            background-position: -13px -158px;
          }
          .os_fedora {
            background-position: -13px -255px;
          }
          .os_suse {
            background-position: -13px -109px;
          }
          .os_arch {
            background-position: -13px -304px;
          }
          .os_windows {
            background-position: -13px -207px;
          }
          .os_coreOS {
            background-position: -13px -397px;
          }
          .os_freeBSD {
            background-position: -13px -447px;
          }
          .os_clearLinux {
            background-position: -13px -592px;
          }
        }
        .os_family {
          background: url('https://console.qingcloud.com//static/images/all-os-family.png?v=13')
            no-repeat;
          background-size: 90px;
          display: inline-block;
          width: 20px;
          height: 20px;
        }
        .os_cent {
          background-position: -58px -12px;
        }
        .os_debian {
          background-position: -58px -60px;
        }
        .os_ubuntu {
          background-position: -58px -158px;
        }
        .os_fedora {
          background-position: -58px -255px;
        }
        .os_suse {
          background-position: -58px -109px;
        }
        .os_arch {
          background-position: -58px -304px;
        }
        .os_windows {
          background-position: -58px -207px;
        }
        .os_coreOS {
          background-position: -58px -397px;
        }
        .os_freeBSD {
          background-position: -58px -447px;
        }
        .os_clearLinux {
          background-position: -57px -592px;
        }
      }
    }
    .step_action {
      display: flex;
      border-top: 1px solid #e4ebf1;
      background: #f5f7fa;
      padding: 15px 30px;
      overflow: hidden;
    }
  }
  .illustrate {
    width: 360px;
    padding: 20px;
    .title {
      font-size: 16px;
    }
    .table {
      font-size: 12px;
      margin: 15px 0;
      background: #fff;
      .items {
        display: flex;
        padding: 10px;
        cursor: pointer;
        border-bottom: 1px solid #e4ebf1;
        .label {
          min-width: 70px;
        }
      }
      .items:hover {
        background: rgba(242, 245, 248);
      }
    }
    .price_div {
      font-size: 12px;
      color: #0366d6;
      background: #eaf3fe;
      border: 1px solid #0366d6;
      padding: 8px 12px;
      .total {
        color: #0366d6;
      }
      .price {
        font-weight: bold;
        margin: 0 4px;
        color: #0366d6;
        font-size: 14px;
      }
      .unit {
        padding: 0 4px 0 0;
        color: #0366d6;
      }
      .none {
        color: #0366d6;
      }
      .small_price {
        font-weight: bold;
        color: #0366d6;
        padding: 0 2px;
      }
      .currency {
        font-family: 'Arial';
        color: #0366d6;
        margin: 0 2px;
      }
    }
  }
}
