@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

.bg_div_white {
  background: #fff;
  min-width: 800px;
  // padding: 20px;
}
.min_w_800 {
  min-width: 800px;
}
.width_100_percent {
  width: 100%;
}
//字号
.font_12 {
  font-size: 12px;
}
.font_12_impor {
  font-size: 12px !important;
}
.font_14 {
  font-size: 14px !important  ;
}
.font_16 {
  font-size: 16px !important  ;
}
//字体
.font_w_600 {
  font-weight: 600;
}

.color_green {
  color: #00aa72;
}
.color_blue {
  color: #0366d6;
}
.color_plam {
  color: #8a6700;
}
.flex {
  display: flex;
  align-items: center;
}
.flex_start {
  display: flex;
  align-items: flex-start;
}
.flex_1 {
  flex: 1;
}
//margin
.margin_20_10 {
  margin: 20px 10px;
}
.margin_lr_5 {
  margin: 0 5px;
}
.margin_lr_10 {
  margin: 0 10px;
}
.margin_l_10 {
  margin-left: 10px;
}
.margin_l_20 {
  margin-left: 20px;
}
.margin_l_50 {
  margin-left: 50px;
}
.margin_l_100 {
  margin-left: 100px;
}
.margin_l_200 {
  margin-left: 200px;
}
.margin_r_5 {
  margin-right: 5px;
}
.margin_r_10 {
  margin-right: 10px;
}
.margin_r_20 {
  margin-right: 20px;
}
.margin_b_20 {
  margin-bottom: 20px;
}
.margin_t_b_20 {
  margin: 20px 0;
}

.margin_10_20 {
  margin: 10px 20px;
}
.margin_t_20 {
  margin-top: 20px;
}

.padding_lr_5 {
  padding: 0 5px;
}
.padding_lr_10 {
  padding: 0 10px;
}
.padding_r_10 {
  padding-right: 10px;
}
.padding_r_20 {
  padding-right: 20px;
}
.padding_10_20 {
  padding: 10px 20px;
}
.p_10 {
  padding: 10px;
}
.p_20 {
  padding: 20px;
}

// border
.border_b_e4ebf1 {
  border-bottom: 1px solid #e4ebf1;
}
.tips {
  color: #778592;
}
//抬头菜单项
.ant-pro-global-header div:first-child {
  flex: none !important;
}
.ant-pro-global-header :nth-child(2) {
  flex: 1 !important;
}
.ant-pro-fixed-header .ant-pro-global-header .right {
  flex: 1 !important;
}
// 不可点击
.mydisabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
//焦点出现下划线

.span_line:hover {
  text-decoration: underline;
}
.text_dec {
  text-decoration: underline;
}

// 蓝色边框alert
.alert_blue {
  padding: 10px;
  color: #0366d6;
  background: #eaf3fe;
  border: 1px solid #0366d6;
  box-shadow: 0 1px 2px 0 rgba(12, 53, 73, 0.04), 0 2px 4px 0 rgba(18, 57, 87, 0.08);
}
.alert_yellow {
  padding: 10px;
  color: #8a6700;
  background: #fff9e5;
  border: 1px solid #f2d054;
  box-shadow: 0 1px 2px 0 rgba(73, 57, 12, 0.04), 0 2px 4px 0 rgba(87, 71, 18, 0.08);
}
//状态 succes_processing
.succes_processing {
  .ant-badge-status-dot {
    width: 10px;
    height: 10px;
  }
  .ant-badge-status-text {
    color: #00aa72;
  }
  .ant-badge-status-processing {
    background-color: #00aa72;
  }
  .ant-badge-status-processing::after {
    border: 1px solid #00aa72;
  }
}
.succes_default {
  .ant-badge-status-text {
    color: #999;
  }
  .ant-badge-status-dot {
    width: 10px;
    height: 10px;
  }
}
.succes_err {
  .ant-badge-status-text {
    color: red;
  }
  .ant-badge-status-dot {
    width: 10px;
    height: 10px;
  }
}
.succes_warning {
  .ant-badge-status-text {
    color: orange;
  }
  .ant-badge-status-dot {
    width: 10px;
    height: 10px;
  }
}
//通知页面标签页样式
.notification_tab {
  .ant-tabs-nav {
    background: #e4ebf1;
    .ant-tabs-tab {
      border: none;
      background: #d5e0e9 !important;
      &:hover {
        background: #c6d5e1 !important;
      }
    }
    .ant-tabs-tab-active {
      background: #fff !important;
    }
  }
  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
  .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
    // background: #c6d5e1 !important;
    background: #d5e0e9 !important;
  }
}
//单行文本省略
.ellipse_row {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
//左上角资源选项
.g_more_div {
  float: left;
  width: 164px;
  height: 28px;
  line-height: 28px;
  position: relative;
  border: 1px solid #d5dee7;
  margin: 10px 0 10px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  .span {
    margin: 0 10px;
  }
  &:hover {
    background: #f5f7fa;
  }
  &:active {
    background: #e4ebf1;
  }
}
.g_more_div.active {
  background: #e4ebf1;
}

.project_menu {
  font-size: 12px;
  width: 164px;
}
// 选中
.cursor_p {
  cursor: pointer;
}
//meun 样式
.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  display: flex;
  align-items: center;
}
.ip_input {
  .ant-input-lg {
    font-size: 12px;
  }
}
//tab 选中
.my_tabs_600 {
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-weight: 600 !important;
  }
}
// 下拉菜单 暗黑
.dark_drop {
  background-color: #3e5265 !important;
  li {
    color: #fff !important;
  }
  li:hover {
    background-color: #2b3947 !important;
  }
}
.display_in_b {
  display: inline-block;
}
.help {
  color: #939ea9;
  padding: 9px 0;
}
// 按钮 暗黑
.dark_btn {
  background: #3e5265;
  color: #fff;
  padding: 8px 16px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}
.cancel_btn {
  background: #3e5265;
  color: #fff;
  padding: 8px 16px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}
.dark_btn_small {
  background: #3e5265;
  color: #fff;
  padding: 6px 16px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
}
// 模态窗 暗黑
.dark_modal {
  .ant-modal-header {
    background: #020508 !important;
    .ant-modal-title {
      color: #fff;
    }
  }
  .ant-modal-close-x {
    color: #fff !important;
  }
  // background: #020508;
  // color: #fff;
}

// 暗黑 排版
.dark_alert {
  background: #e4ebf1;
  border: none;
}
// 创建主机 内嵌table
.my_build_table {
  .ant-table-tbody {
    background: #f1f7ff;
    color: #0366d6;
    font-size: 12px;
  }
  .ant-table-row {
    background: #f1f7ff;
    cursor: pointer;
  }

  .ant-table-tbody > tr.ant-table-row:hover > td {
    background: rgb(226, 240, 255);
  }
  .clickRowStyl {
    background: #0366d6 !important;
    color: #fff !important;
  }
  .ant-table-tbody > .clickRowStyl:hover > td {
    background: #0366d6 !important;
  }
}
// 滑动条
.bold_slider {
  .ant-slider-track {
    height: 10px;
  }
  .ant-slider-rail {
    height: 10px;
  }
  .ant-slider-handle {
    width: 20px;
    height: 20px;
  }
}
//工单
.ticket-empty-notice {
  height: 468px;
  text-align: center;
  color: #939ea9;
}
.ticket-empty-notice img {
  padding-top: 154px;
}
.ticket-empty-notice .title {
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 0;
}
@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// @side_width: 208px;
@side_width: 416px;
// 侧边栏
// .ant-design-pro {
//   .ant-layout-has-sider > div:first-child {
//     width: 416px !important;
//     overflow: hidden !important;
//     flex: 0 0 208px !important;
//     max-width: 416px !important;
//     min-width: 208px !important;
//   }
//   .ant-layout-has-sider {
//     .ant-layout-sider {
//       overflow: hidden !important;
//       flex: 0 0 208px !important;
//       max-width: 416px !important;
//       // min-width: 208px !important;
//       width: @side_width !important;
//       .ant-menu {
//         max-width: 208px !important;
//         .ant-menu-item {
//           // max-width: 208px !important;
//         }
//         .ant-menu-submenu {
//           max-width: 208px !important;
//           ul {
//             position: absolute;
//             height: calc(100vh - 112px);
//             left: 208px;
//             top: 0;
//           }
//         }
//         .ant-menu-submenu-open {
//           width: 416px !important;
//         }
//       }
//     }
//   }
// }

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
